* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block-start: 300px;
}

.todolist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}