* {
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span {
  font-family: serif;
}
#timeBox {
  font-size: 5rem;
}
#dateBox {
  font-size: 2rem;
}
.greeting {
  font-size: 6rem;
}
